@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: Montserratlight;
  src: url("fonts/MontserratAlternates-ExtraLightItalic.otf");
}

#aircast-values {
  height: 100vh;
  width: 100vw;
}

#aircast-content {
  width: 100vw;
  height: 90vh;
  justify-content: center;
  padding: 0em 7em;
  padding-top: 1.5em;
  display: flex;
  text-align: center;
  flex-direction: column;
}

#aircast-quots {
  font-size: 1.7em;
  padding-bottom: 0.8em;
  font-family: "Montserrat";
  animation: fadeIn 2s;
}

#aircast-credit {
  font-size: 1em;
  font-family: "Montserratlight";
  animation: fadeIn 5s;
}

#aircast-values-line-div {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 3em;
  padding-bottom: 0.5em;
  animation: fadeIn 2s;
}

#aircast-values-line {
  width: 33em;
}

#aircast-values-logo-div {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 1.5em;
  animation: fadeInUp 3s;
}

#aircast-values-logo {
  width: 8em;
}
