.container {
  font-family: "Arial";
}

.default {
  background: url("/assets/CITIES/global.png") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.city-of-manila {
  background: url("/assets/CITIES/city-of-manila.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.mandaluyong-city {
  background: url("/assets/CITIES/mandaluyong-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.marikina-city {
  background: url("/assets/CITIES/marikina-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.pasig-city {
  background: url("/assets/CITIES/pasig-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.quezon-city {
  background: url("/assets/CITIES/quezon-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.san-juan-city {
  background: url("/assets/CITIES/san-juan-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.caloocan-city {
  background: url("/assets/CITIES/caloocan-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.malabon-city {
  background: url("/assets/CITIES/malabon-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.navotas-city {
  background: url("/assets/CITIES/navotas-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.valenzuela-city {
  background: url("/assets/CITIES/valenzuela-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.las-pinas-city {
  background: url("/assets/CITIES/las-pinas-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.makati-city {
  background: url("/assets/CITIES/makati-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.muntinlupa-city {
  background: url("/assets/CITIES/muntinlupa-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.paranaque-city {
  background: url("/assets/CITIES/paranaque-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.pasay-city {
  background: url("/assets/CITIES/pasay-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.taguig-city {
  background: url("/assets/CITIES/taguig-city.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.rizal {
  background: url("/assets/CITIES/rizal.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.cavite {
  background: url("/assets/CITIES/cavite.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.laguna {
  background: url("/assets/CITIES/laguna.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.bulacan {
  background: url("/assets/CITIES/bulacan.jpg") fixed no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 35px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 25px;
}

.title h1 {
  color: white;
  font-size: 3rem;
}

.title p {
  color: white;
  font-size: 2rem;
  margin-top: 15px;
  font-weight: 100;
}

.sponsor {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.sponsor-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sponsor p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.sponsor-image {
  max-height: 75px;
}

.body {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.confirmed {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.1)
  );
  padding: 15px;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  margin-bottom: 15px;
  color: white;
}

.recovered {
  background-image: linear-gradient(
    rgba(52, 136, 52, 0.1),
    rgba(0, 255, 0, 0.4)
  );
  padding: 15px;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  margin-bottom: 15px;
  color: white;
}

.deaths {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.1)
  );
  padding: 15px;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
  margin-bottom: 15px;
  color: white;
}

.total {
  width: 100%;
  padding: 50px 25px 50px 25px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.total label {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.total h1 {
  font-size: 3rem;
}

.new {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.new label {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .confirmed {
    order: 1;
  }

  .recovered {
    order: 0;
  }

  .deaths {
    order: 2;
  }

  h1,
  p,
  label {
    text-align: center;
  }

  .total {
    margin-bottom: 15px;
  }
}
