<div class="facebook-post">
	<div class="facebook-mask"><img src="assets/facebook-mask.png"></div>
	<div class="facebook-image-background" ng-style="{'background-image': 'linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8)), url(' + info.full_picture + ')'}"></div>
	<div class="facebook-post-left">
		<div class="facebook-image">
			<img class="animated rotateInUpLeft facebook-image-pic" ng-src="{{info.full_picture}}">
		</div>	
	</div>
	<div class="facebook-post-right">
		<img src="assets/facebook-logo-overlay.png" class="facebook-overlay">
		<div class="facebook-post-top animated bounceInDown">
			<img ng-src="{{info.page_picture}}">
			<h3>{{info.page_name}}</h3>
<!-- 			<p><span>{{info.page_likes}}</span> page likes</p> -->
				<p class="facebook-post-caption">{{info.message | cut:true:200:' ...' }}</p>
		</div>

		<div class="facebook-post-reactions animated bounceInUp delay-animation-1">
			<div class="likes" ng-hide="info.reactions.like == 0">
				<img src="assets/fb-like-icon.png">
				<span>{{info.reactions.like}}</span>
			</div>
			<div class="heart" ng-hide="info.reactions.love == 0">
				<img src="assets/fb-love-icon.png">
				<span>{{info.reactions.love}}</span>
			</div>
			<div class="wow" ng-hide="info.reactions.wow == 0">
				<img src="assets/fb-wow-icon.png">
				<span>{{info.reactions.wow}}</span>
			</div>
			<div class="haha" ng-hide="info.reactions.haha == 0">
				<img src="assets/fb-haha-icon.png">
				<span>{{info.reactions.haha}}</span>
			</div>
		</div>
	</div>

</div>