<div ng-show="currentTemp == 'templates/temp39.html'" class="container">
  <div id="global" class="main default">
    <div class="head col-12">
      <div class="title col-6">
        <h1>COVID-19 CASES<br />GLOBAL UPDATE</h1>
        <p>{{ date.substring(0, 3) + "," + date.substring(3) }}</p>
      </div>
      <div class="sponsor col-4">
        <p>This update is brought to you by</p>
        <div class="sponsor-container">
          <img
            id="sponsor-image-1"
            class="sponsor-image"
            src="../assets/aircast-logo.png"
          />
          <img
            id="sponsor-image-2"
            class="sponsor-image"
            src="../assets/aircast-logo.png"
            style="display: none;"
          />
        </div>
      </div>
    </div>
    <div class="body col-12">
      <div class="confirmed col-3">
        <div class="total">
          <label>TOTAL CASES</label>
          <h1>{{ globalData.TotalConfirmed.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ globalData.NewConfirmed.toLocaleString() }}</h1>
          <label>New Cases</label>
        </div>
      </div>
      <div class="recovered col-3">
        <div class="total">
          <label>TOTAL RECOVERIES</label>
          <h1>{{ globalData.TotalRecovered.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ globalData.NewRecovered.toLocaleString() }}</h1>
          <label>New Recoveries</label>
        </div>
      </div>
      <div class="deaths col-3">
        <div class="total">
          <label>TOTAL DEATHS</label>
          <h1>{{ globalData.TotalDeaths.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ globalData.NewDeaths.toLocaleString() }}</h1>
          <label>New Deaths</label>
        </div>
      </div>
    </div>
  </div>
  <div id="ph" class="main {{ cityImage }}" style="display: none;">
    <div class="head col-12">
      <div class="title col-6">
        <h1>COVID-19 CASES<br />PHILIPPINES UPDATE</h1>
        <p>{{ date.substring(0, 3) + "," + date.substring(3) }}</p>
      </div>
      <div class="sponsor col-4">
        <p>This update is brought to you by</p>
        <div class="sponsor-container">
          <img
            id="sponsor-image-3"
            class="sponsor-image"
            src="../assets/aircast-logo.png"
          />
          <img
            id="sponsor-image-4"
            class="sponsor-image"
            src="../assets/aircast-logo.png"
            style="display: none;"
          />
        </div>
      </div>
    </div>
    <div class="body col-12">
      <div class="confirmed col-3">
        <div class="total">
          <label>TOTAL CASES</label>
          <h1>{{ phData.TotalConfirmed.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ phData.NewConfirmed.toLocaleString() }}</h1>
          <label>New Cases</label>
        </div>
      </div>
      <div class="recovered col-3">
        <div class="total">
          <label>TOTAL RECOVERIES</label>
          <h1>{{ phData.TotalRecovered.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ phData.NewRecovered.toLocaleString() }}</h1>
          <label>New Recoveries</label>
        </div>
      </div>
      <div class="deaths col-3">
        <div class="total">
          <label>TOTAL DEATHS</label>
          <h1>{{ phData.TotalDeaths.toLocaleString() }}</h1>
        </div>
        <div class="new">
          <h1>{{ phData.NewDeaths.toLocaleString() }}</h1>
          <label>New Deaths</label>
        </div>
      </div>
    </div>
  </div>
</div>
