<div
  class="aircast-values"
  style="background: url(&quot;/assets/aircast-values-background.png&quot;); height: 100vh; width: 100vw; font-size: 4vh; color:white"
>
  <div id="aircast-values-line-div">
    <img id="aircast-values-line" src="assets/aircast-values-quote.png" />
  </div>
  <div id="aircast-content">
    <p id="aircast-quots">{{ quotevar.quote }}</p>
    <p id="aircast-credit">{{ quotevar.credit }}</p>
  </div>
  <div id="aircast-values-logo-div">
    <img id="aircast-values-logo" src="assets/aircast-values-bottom.png" />
  </div>
</div>
