<div id="facebook-live">


  <div class="live-loader">
    <div>
      <img class="img" src="{{picture}}" />
      <h4>SHOWING LIVE content from</h4>
      <h3>{{name}}</h3>
      <p>https://facebook.com/{{urlName}}</p>
      <div id="loader">
        <div id="shadow"></div>
        <div id="box"></div>
      </div>
    </div>
  </div>
	
 <div class="end-loader hidden">
    <div>
      <img class="img" src="{{picture}}" />
      <h4>ENDING LIVE VIDEO</h4>
      <h3>{{name}}</h3>
      <p>https://facebook.com/{{urlName}}</p>
      <br/>
      <h4>Thank you for watching!</h4>
    </div>
  </div>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>

  <div class="fb-video" data-href="https://www.facebook.com/{{page_id}}/videos/{{video_id}}" data-width="auto" data-how-text="false" data-autoplay="true" data-allowfullscreen="true">
    <div class="fb-xfbml-parse-ignore">
    </div>
  </div>
  
</div>