 <div class="url-content">
 	 <div ng-bind-html="thisCanBeusedInsideNgBindHtml" class="div-content" style="width: 100vw; height: 100vh"></div>
 </div>

<script type="text/javascript">
	function checkIframeLoaded() {
    // Get a handle to the iframe element
    var iframe = document.getElementById('url-iframe');
    var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;

    // Check if loading is complete
    if (  iframeDoc.readyState  == 'complete' ) {
        //iframe.contentWindow.alert("Hello");
        iframe.contentWindow.onload = function(){
            alert("I am loaded");
        };
        // The loading is complete, call the function we want executed once the iframe is loaded
        afterLoading();
        return;
    } 

    // If we are here, it is not loaded. Set things up so we check   the status again in 100 milliseconds
    window.setTimeout(checkIframeLoaded, 100);
}
</script>